## Media Planning - Pacing

Build media planning pacing projections by taking the package specs and calculating each individual line items specs based upon it to project daily pacing.

In [88]:
import pandas as pd
import numpy as np
import datetime as dt
from time import strptime

In [89]:
#read in data export
extract = pd.read_csv('Media_Plan_EXAMPLE.csv')
print(extract.info())
extract.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
Campaign name      49 non-null object
Site               46 non-null object
Name               49 non-null object
Unit dimensions    40 non-null object
Start date         9 non-null object
End date           9 non-null object
Cost method        9 non-null object
Rate               9 non-null object
Units              9 non-null object
Cost               9 non-null object
dtypes: object(10)
memory usage: 3.9+ KB
None

,Campaign name,Site,Name,Unit dimensions,Start date,End date,Cost method,Rate,Units,Cost
0,ADVERTISER NAME H1 2018 Brand Digital (FEP),HULU,Classic Genre Targeting:Drama M40-55 Video Com...,NaN,2/15/18,5/31/18,CPM,$25.57,"4,693,000","$120,000.00"
1,ADVERTISER NAME H1 2018 Brand Digital (FEP),HULU,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,1 x 1,NaN,NaN,NaN,NaN,NaN,NaN
2,ADVERTISER NAME H1 2018 Brand Digital (FEP),HULU,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,1 x 1,NaN,NaN,NaN,NaN,NaN,NaN
3,ADVERTISER NAME H1 2018 Brand Digital (FEP),HULU,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_H...,1 x 1,NaN,NaN,NaN,NaN,NaN,NaN
4,ADVERTISER NAME H1 2018 Brand Digital (FEP),HULU,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_H...,1 x 1,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
#filter out unwanted columns
pacing = extract.filter(['Campaign name','Name','Start date','End date','Rate','Units','Cost'])
print(pacing.info())
pacing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
Campaign name    49 non-null object
Name             49 non-null object
Start date       9 non-null object
End date         9 non-null object
Rate             9 non-null object
Units            9 non-null object
Cost             9 non-null object
dtypes: object(7)
memory usage: 2.8+ KB
None

,Campaign name,Name,Start date,End date,Rate,Units,Cost
0,ADVERTISER NAME H1 2018 Brand Digital (FEP),Classic Genre Targeting:Drama M40-55 Video Com...,2/15/18,5/31/18,$25.57,"4,693,000","$120,000.00"
1,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,NaN,NaN,NaN,NaN,NaN
2,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
3,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_H...,NaN,NaN,NaN,NaN,NaN
4,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_H...,NaN,NaN,NaN,NaN,NaN
5,ADVERTISER NAME H1 2018 Brand Digital (FEP),AUDIENCE1 Genre Targeting: Comedy M25-54 Video...,2/15/18,5/31/18,$25.57,"10,950,332","$280,000.00"
6,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,NaN,NaN,NaN,NaN,NaN
7,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
8,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_H...,NaN,NaN,NaN,NaN,NaN
9,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_H...,NaN,NaN,NaN,NaN,NaN
10,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
11,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
12,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
13,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
14,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
15,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
16,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
17,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_O...,NaN,NaN,NaN,NaN,NaN
18,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_O...,NaN,NaN,NaN,NaN,NaN
19,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_O...,NaN,NaN,NaN,NaN,NaN
20,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_O...,NaN,NaN,NaN,NaN,NaN
21,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_O...,NaN,NaN,NaN,NaN,NaN
22,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_O...,NaN,NaN,NaN,NaN,NaN
23,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_O...,NaN,NaN,NaN,NaN,NaN
24,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_O...,NaN,NaN,NaN,NaN,NaN
25,ADVERTISER NAME H1 2018 Brand Digital,Sling TV,2/15/18,5/31/18,$24.00,"3,375,000","$81,000.00"
26,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_OMDP...,NaN,NaN,NaN,NaN,NaN
27,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_OMDP...,NaN,NaN,NaN,NaN,NaN
28,ADVERTISER NAME H1 2018 Brand Digital,Sling TV,2/15/18,5/31/18,$28.50,"2,666,667","$76,000.00"
29,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,NaN,NaN,NaN,NaN,NaN
30,ADVERTISER NAME H1 2018 Brand Digital,Sling TV,2/15/18,5/31/18,$0.00,"1,777,778",$0.00
31,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
32,ADVERTISER NAME H1 2018 Brand Digital,Sling TV,2/15/18,5/31/18,$18.05,"3,277,008","$59,150.00"
33,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_Y...,NaN,NaN,NaN,NaN,NaN
34,ADVERTISER NAME H1 2018 Brand Digital,4 Screen FEP Blend,2/15/18,5/31/18,$33.25,"714,286","$23,750.00"
35,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,NaN,NaN,NaN,NaN,NaN
36,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
37,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_Y...,NaN,NaN,NaN,NaN,NaN
38,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_Y...,NaN,NaN,NaN,NaN,NaN
39,ADVERTISER NAME H1 2018 Brand Digital,4 Screen PreRoll + Classics,2/15/18,5/31/18,$15.20,"2,916,447","$44,330.00"
40,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,NaN,NaN,NaN,NaN,NaN
41,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
42,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_Y...,NaN,NaN,NaN,NaN,NaN
43,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_Y...,NaN,NaN,NaN,NaN,NaN
44,ADVERTISER NAME H1 2018 Brand Digital,4 Screen PreRoll + AUDIENCE1,2/15/18,5/31/18,$15.20,"6,366,447","$96,770.00"
45,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,NaN,NaN,NaN,NaN,NaN
46,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
47,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_Y...,NaN,NaN,NaN,NaN,NaN
48,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_Y...,NaN,NaN,NaN,NaN,NaN

In [91]:
#find indices of rows that pertain to a package i.e. not null
indices = pacing[pacing['Start date'].notnull()].index.tolist()
indices

[0, 5, 25, 28, 30, 32, 34, 39, 44]

In [92]:
#assign dataframe slices their own dataframe in a dictionary using each pair in indices
df_dict = {}

for i, n in enumerate(indices[:-1]):
    df_dict['df' + str(i+1)] = pacing.iloc[indices[i]:indices[i+1]]

df_dict['last'] = pacing.iloc[indices[-1]:]

df_dict['df1']

,Campaign name,Name,Start date,End date,Rate,Units,Cost
0,ADVERTISER NAME H1 2018 Brand Digital (FEP),Classic Genre Targeting:Drama M40-55 Video Com...,2/15/18,5/31/18,$25.57,"4,693,000","$120,000.00"
1,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,NaN,NaN,NaN,NaN,NaN
2,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,NaN,NaN,NaN,NaN,NaN
3,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_H...,NaN,NaN,NaN,NaN,NaN
4,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_H...,NaN,NaN,NaN,NaN,NaN

In [93]:
#create function to strip non-numeric characters from a column
def strp_nonnum(col):
    '''strip string column of non numeric characters, keeping only digits and decimals'''
    col = col.str.extract('([\d]+.?\d*)')
    return col

#loop through each dataframe, assigning column values and calculating new columns
for k, v in df_dict.items():
    v['Package Name'] = v.iat[0,1]
    v['Start date'] = v.iat[0,2]
    v['End date'] = v.iat[0,3]
    v['Rate'] = v.iat[0,4]
    v['Units'] = v.iat[0,5]
    v['Cost'] = v.iat[0,6]
    v['Start date'] = pd.to_datetime(v['Start date'])
    v['End date'] = pd.to_datetime(v['End date'])
    cols = ['Rate','Cost']
    for col in cols:
        v[col] = strp_nonnum(v[col])
        v[col] = v[col].str.replace(',','').astype(float)
    v['Units'] = v['Units'].str.replace(',','').astype(int)
    v.drop(v.index[:1], inplace=True)

df_dict['last'].head()

/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christina.caddel/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Campaign name,Name,Start date,End date,Rate,Units,Cost,Package Name
45,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1
46,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1
47,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_Y...,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1
48,ADVERTISER NAME H1 2018 Brand Digital,LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_Y...,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1

In [94]:
print(df_dict['df1'].info())
df_dict['df1'].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 8 columns):
Campaign name    4 non-null object
Name             4 non-null object
Start date       4 non-null datetime64[ns]
End date         4 non-null datetime64[ns]
Rate             4 non-null float64
Units            4 non-null int64
Cost             4 non-null float64
Package Name     4 non-null object
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 288.0+ bytes
None

,Campaign name,Name,Start date,End date,Rate,Units,Cost,Package Name
1,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...
2,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Desktop_...,2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...
3,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Mobile_H...,2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...
4,ADVERTISER NAME H1 2018 Brand Digital (FEP),LSA_ADVERTISER NAME_2018_Brand_Spring_Tablet_H...,2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...

In [95]:
#take date range 
def melt_df(v):
    """Take date range and create new row for each day within it.
    Create new columns that make calculations based on the number of days in the date range."""
    df_ = v[['Name','Start date','End date']]
    df_ = pd.melt(df_, id_vars='Name',value_name='Date')
    df_['Date'] = pd.to_datetime(df_['Date'])
    df_.set_index('Date', inplace=True)
    df_.drop('variable', axis=1,inplace=True)
    df_ = df_.groupby('Name').resample('D').ffill().reset_index(level=0, drop=True).reset_index()
    df_clean = pd.merge(df_, v)
    df_clean['Planned Cost'] = df_clean['Cost']/len(df_clean)
    df_clean['Planned Impressions'] = df_clean['Units']/len(df_clean)
    v = df_clean
    
    return v

In [96]:
new_dict = {k: melt_df(v) for k, v in df_dict.items()}
new_dict['df1'].head()

,Date,Name,Campaign name,Start date,End date,Rate,Units,Cost,Package Name,Planned Cost,Planned Impressions
0,2018-02-15,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
1,2018-02-16,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
2,2018-02-17,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
3,2018-02-18,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
4,2018-02-19,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226

In [97]:
new_dict['last'].head()

,Date,Name,Campaign name,Start date,End date,Rate,Units,Cost,Package Name,Planned Cost,Planned Impressions
0,2018-02-15,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,ADVERTISER NAME H1 2018 Brand Digital,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1,228.231132,15015.205189
1,2018-02-16,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,ADVERTISER NAME H1 2018 Brand Digital,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1,228.231132,15015.205189
2,2018-02-17,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,ADVERTISER NAME H1 2018 Brand Digital,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1,228.231132,15015.205189
3,2018-02-18,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,ADVERTISER NAME H1 2018 Brand Digital,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1,228.231132,15015.205189
4,2018-02-19,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_YuMe...,ADVERTISER NAME H1 2018 Brand Digital,2018-02-15,2018-05-31,15.2,6366447,96770.0,4 Screen PreRoll + AUDIENCE1,228.231132,15015.205189

In [98]:
#merge all melted data frames
all_packages = pd.concat(new_dict.values(), ignore_index=True)
print(all_packages.info())
all_packages.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 11 columns):
Date                   4240 non-null datetime64[ns]
Name                   4240 non-null object
Campaign name          4240 non-null object
Start date             4240 non-null datetime64[ns]
End date               4240 non-null datetime64[ns]
Rate                   4240 non-null float64
Units                  4240 non-null int64
Cost                   4240 non-null float64
Package Name           4240 non-null object
Planned Cost           4240 non-null float64
Planned Impressions    4240 non-null float64
dtypes: datetime64[ns](3), float64(4), int64(1), object(3)
memory usage: 364.5+ KB
None

,Date,Name,Campaign name,Start date,End date,Rate,Units,Cost,Package Name,Planned Cost,Planned Impressions
0,2018-02-15,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
1,2018-02-16,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
2,2018-02-17,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
3,2018-02-18,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
4,2018-02-19,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,4693000,120000.0,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226

In [99]:
#drop units and cost columns
all_packages.drop(columns=['Units','Cost'], axis=1, inplace=True)
all_packages.head()

,Date,Name,Campaign name,Start date,End date,Rate,Package Name,Planned Cost,Planned Impressions
0,2018-02-15,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
1,2018-02-16,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
2,2018-02-17,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
3,2018-02-18,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226
4,2018-02-19,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226

In [100]:
#Take Name col and separate on underscores to create new cols
all_packages['Region'] = all_packages['Name'].str.split('_').str[0] + '_' + all_packages['Name'].str.split('_').str[1]
all_packages['Year'] = all_packages['Name'].str.split('_').str[2]
all_packages['Cost Center'] = all_packages['Name'].str.split('_').str[3]
all_packages['Season'] = all_packages['Name'].str.split('_').str[4]
all_packages['Channel'] = all_packages['Name'].str.split('_').str[5]
all_packages['Publisher'] = all_packages['Name'].str.split('_').str[6]
all_packages['Gender'] = all_packages['Name'].str.split('_').str[7]
all_packages['Creative'] = all_packages['Name'].str.split('_').str[8]
all_packages['Placement Wildcard'] = all_packages['Name'].str.split('_').str[9]
all_packages['Tactic'] = all_packages['Name'].str.split('_').str[10]
all_packages['Cost Method'] = all_packages['Name'].str.split('_').str[11]
all_packages['Size'] = all_packages['Name'].str.split('_').str[12]
all_packages['Ad Serving Method'] = all_packages['Name'].str.split('_').str[13]

print(all_packages.info())
all_packages.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 22 columns):
Date                   4240 non-null datetime64[ns]
Name                   4240 non-null object
Campaign name          4240 non-null object
Start date             4240 non-null datetime64[ns]
End date               4240 non-null datetime64[ns]
Rate                   4240 non-null float64
Package Name           4240 non-null object
Planned Cost           4240 non-null float64
Planned Impressions    4240 non-null float64
Region                 4240 non-null object
Year                   4240 non-null object
Cost Center            4240 non-null object
Season                 4240 non-null object
Channel                4240 non-null object
Publisher              4240 non-null object
Gender                 4240 non-null object
Creative               4240 non-null object
Placement Wildcard     4240 non-null object
Tactic                 4240 non-null object
Cost Method            4240 non-null object
Size                   4240 non-null object
Ad Serving Method      4240 non-null object
dtypes: datetime64[ns](3), float64(3), object(16)
memory usage: 728.8+ KB
None

,Date,Name,Campaign name,Start date,End date,Rate,Package Name,Planned Cost,Planned Impressions,Region,...,Season,Channel,Publisher,Gender,Creative,Placement Wildcard,Tactic,Cost Method,Size,Ad Serving Method
0,2018-02-15,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226,LSA_ADVERTISER NAME,...,Spring,CTV,Hulu,M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,CPM,:15/:30,Innovid
1,2018-02-16,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226,LSA_ADVERTISER NAME,...,Spring,CTV,Hulu,M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,CPM,:15/:30,Innovid
2,2018-02-17,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226,LSA_ADVERTISER NAME,...,Spring,CTV,Hulu,M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,CPM,:15/:30,Innovid
3,2018-02-18,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226,LSA_ADVERTISER NAME,...,Spring,CTV,Hulu,M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,CPM,:15/:30,Innovid
4,2018-02-19,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,ADVERTISER NAME H1 2018 Brand Digital (FEP),2018-02-15,2018-05-31,25.57,Classic Genre Targeting:Drama M40-55 Video Com...,283.018868,11068.396226,LSA_ADVERTISER NAME,...,Spring,CTV,Hulu,M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,CPM,:15/:30,Innovid

In [101]:
#rename certain columns
all_packages.rename(columns = {'Name':'Placement Name', 'Rate':'Cost Basis'}, inplace=True)
all_packages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 22 columns):
Date                   4240 non-null datetime64[ns]
Placement Name         4240 non-null object
Campaign name          4240 non-null object
Start date             4240 non-null datetime64[ns]
End date               4240 non-null datetime64[ns]
Cost Basis             4240 non-null float64
Package Name           4240 non-null object
Planned Cost           4240 non-null float64
Planned Impressions    4240 non-null float64
Region                 4240 non-null object
Year                   4240 non-null object
Cost Center            4240 non-null object
Season                 4240 non-null object
Channel                4240 non-null object
Publisher              4240 non-null object
Gender                 4240 non-null object
Creative               4240 non-null object
Placement Wildcard     4240 non-null object
Tactic                 4240 non-null object
Cost Method            4240 non-null object
Size                   4240 non-null object
Ad Serving Method      4240 non-null object
dtypes: datetime64[ns](3), float64(3), object(16)
memory usage: 728.8+ KB

In [102]:
#reorder columns
all_packages = all_packages[['Region','Year','Cost Center','Channel','Season','Campaign name','Gender','Creative','Placement Wildcard','Tactic','Cost Method','Publisher','Ad Serving Method','Package Name','Placement Name','Start date','End date','Size','Cost Basis','Date','Planned Impressions','Planned Cost']]
print(all_packages.info())
all_packages.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 22 columns):
Region                 4240 non-null object
Year                   4240 non-null object
Cost Center            4240 non-null object
Channel                4240 non-null object
Season                 4240 non-null object
Campaign name          4240 non-null object
Gender                 4240 non-null object
Creative               4240 non-null object
Placement Wildcard     4240 non-null object
Tactic                 4240 non-null object
Cost Method            4240 non-null object
Publisher              4240 non-null object
Ad Serving Method      4240 non-null object
Package Name           4240 non-null object
Placement Name         4240 non-null object
Start date             4240 non-null datetime64[ns]
End date               4240 non-null datetime64[ns]
Size                   4240 non-null object
Cost Basis             4240 non-null float64
Date                   4240 non-null datetime64[ns]
Planned Impressions    4240 non-null float64
Planned Cost           4240 non-null float64
dtypes: datetime64[ns](3), float64(3), object(16)
memory usage: 728.8+ KB
None

,Region,Year,Cost Center,Channel,Season,Campaign name,Gender,Creative,Placement Wildcard,Tactic,...,Ad Serving Method,Package Name,Placement Name,Start date,End date,Size,Cost Basis,Date,Planned Impressions,Planned Cost
0,LSA_ADVERTISER NAME,2018,Brand,CTV,Spring,ADVERTISER NAME H1 2018 Brand Digital (FEP),M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,...,Innovid,Classic Genre Targeting:Drama M40-55 Video Com...,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,:15/:30,25.57,2018-02-15,11068.396226,283.018868
1,LSA_ADVERTISER NAME,2018,Brand,CTV,Spring,ADVERTISER NAME H1 2018 Brand Digital (FEP),M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,...,Innovid,Classic Genre Targeting:Drama M40-55 Video Com...,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,:15/:30,25.57,2018-02-16,11068.396226,283.018868
2,LSA_ADVERTISER NAME,2018,Brand,CTV,Spring,ADVERTISER NAME H1 2018 Brand Digital (FEP),M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,...,Innovid,Classic Genre Targeting:Drama M40-55 Video Com...,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,:15/:30,25.57,2018-02-17,11068.396226,283.018868
3,LSA_ADVERTISER NAME,2018,Brand,CTV,Spring,ADVERTISER NAME H1 2018 Brand Digital (FEP),M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,...,Innovid,Classic Genre Targeting:Drama M40-55 Video Com...,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,:15/:30,25.57,2018-02-18,11068.396226,283.018868
4,LSA_ADVERTISER NAME,2018,Brand,CTV,Spring,ADVERTISER NAME H1 2018 Brand Digital (FEP),M,NA,AUDIENCE1GenreTargeting:ComedyNGDemoM25-45Vide...,Video,...,Innovid,Classic Genre Targeting:Drama M40-55 Video Com...,LSA_ADVERTISER NAME_2018_Brand_Spring_CTV_Hulu...,2018-02-15,2018-05-31,:15/:30,25.57,2018-02-19,11068.396226,283.018868